.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 14px rgba(42, 65, 79, 0.1);

    &__nav {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 170px;
        height: 70px;
        transform: translateX(0);
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
