.btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;

    &_primary {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 24px;
        background: #6dc552;
        border-radius: 10px;
        color: #ffffff;
        border: none;
    }

    &_secondary {
        padding-top: 12px;
        padding-bottom: 12px;
        background: none;
        border: 1px solid #6dc552;
        border-radius: 10px;
    }
}

.link {
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #2a414f;

    &:hover {
        color: #6dc552;
    }

    &_lg {
        font-size: 16px;
    }

    &_md {
        font-size: 14px;
    }

    &_sm {
        font-size: 12px;
    }
}
