<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__info">
                <img class="footer__logo" src="images/src/logo.svg" alt="freela logotype" />
                <p class="footer__copyright">© 2024 Freela</p>
                <div class="footer__documents">
                    <div class="row">
                        <a class="link">Общая информация</a>
                        <a class="link">Правила пользования</a>
                        <a class="link">Политика конфиденциальности</a>
                        <a class="link">О сервисе</a>
                    </div>
                    <div class="row">
                        <a class="link">Политика куки</a>
                        <a class="link">Инструкция по использованию сервиса</a>
                        <a class="link">Правила оплаты банковскими картами</a>
                    </div>
                </div>
            </div>

            <div class="footer__about">
                <div class="footer__payments">
                    <img src="" alt="" />
                    <img src="" alt="" />

                    <div class="footer__company">
                        <p class="footer__company-info">ОсОО «Фрила КейДжи»</p>
                        <p class="footer__company-info">Регистрационный номер 174208-3300-ООО</p>
                        <p class="footer__company-info">Адрес: г. Ош, ул. Алиева, д. 190, кв. 2</p>
                        <p class="footer__company-info">info@freela.kg</p>
                        <p class="footer__company-info">+ (996) 220 654 107</p>
                    </div>
                </div>
                <div class="footer__company"></div>
            </div>
        </div>
    </div>
</footer>
