<header class="header">
    <div class="container">
        <div class="header__content">
            <img class="header__logo" src="images/src/logo.gif" alt="" />

            <nav class="header__nav">
                <a class="link">Для фрилансеров</a>
                <a class="link">Отзывы</a>
            </nav>
            <div class="header__buttons">
                <button class="btn btn_primary">Войти</button>
                <button class="btn btn_secondary">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</header>
